body{text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
background-color: #1E1B2E;;
 background: linear-gradient(to right, #121212, #1a1a1a);

}

.tabela table {
    text-align:center;
    margin:0 auto;
   display: table;
   border: 3px solid #663399
}
input{
    border-radius:7px;
    border: 2px solid #663399
}

input, select, button {
    box-shadow: 2px 2px 8px rgba(255, 255, 255, 0.1);
}

section {
    background-color: #1e1e1e;
    border-radius: 12px;
    padding: 20px;
    margin: 40px auto;
    width: 80%;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.05);
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}
#triangulo {
  width: 0;
  height: 0;
  margin: 20px auto;
  transition: all 0.4s ease-in-out;
}


.equilatero {
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 87px solid #FF4C4C;
}


.isosceles {
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 70px solid green;
}


.escaleno {
  border-left: 60px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 80px solid blue;
}

button{
    margin-top:10px;
    background-color:#663399;
    border-radius: 10px;
}

button:hover {
    background-color: #4B0082;
    color: white;
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.3s;
}

select{
    border-radius:7px;
    border: 2px solid#663399;
}

h2, h3 {
     color: #D291FF; 
    text-shadow: 1px 1px 2px black;
}